.contener {
  margin-left: 10px;
}
.espacioTarjetas {
  margin: 0px;
  min-height: calc(100vh - 380px - 38px);
}
.card {
  margin: 0px 20px 20px 20px;
  height: auto;
  border: 2px solid gray;
}
.contenido {
  margin-left: 11px;
  height: auto;
  border-radius: 2px;
  background: gray;
}
@media (min-width: 700px) and (max-width: 760px) {
  .contenido {
    width: 97%;
    border-radius: 5px;
    margin-right: 1px;
  }
}
@media (min-width: 480px) and (max-width: 700px) {
  .contenido {
    width: 96%;
    border-radius: 5px;
    margin-right: 1px;
  }
}
@media (max-width: 480px) {
  .contenido {
    width: 94.4%;
    border-radius: 5px;
    margin-right: 1px;
  }
}

p {
  margin: 1%;
}
img {
  padding-top: 45px;
  width: 100px;
}
.centrar {
  text-align: center;
}

input {
  background: none;
  color: gray;
  display: block;
  border: 0;
  font-size: 18px;
  border-bottom: 1px solid grey;
  width: 100%;
}
input:focus {
  outline: none !important;
}
.container {
  margin-top: 15px;
  text-align: center;
}
.buscador {
  margin-top: 10px;
  float: left;
  width: 70%;
}
button {
  width: 20%;
}
h3 {
  margin-top: 5px;
}
.primera p {
  display: inline-block;
  margin: 0;
}
.segunda p {
  display: inline-block;
  margin: 0;
}

.paginas {
  text-align: center;
}

.Lucha {
  border-color: #757575;
}
.Volador {
  border-color: #4fc3f7;
}
.Veneno {
  border-color: #6a1b9a;
}
.Tierra {
  border-color: #5d4037;
}
.Roca {
  border-color: #424242;
}
.Bicho {
  border-color: #9ccc65;
}
.Fantasma {
  border-color: #512da8;
}
.Acero {
  border-color: #bdbdbd;
}
.Fuego {
  border-color: #b71c1c;
}
.Agua {
  border-color: #406de7;
}
.Planta {
  border-color: #2e7d32;
}
.Eléctrico {
  border-color: #fbc02d;
}
.Psíquico {
  border-color: #ff9800;
}
.Hielo {
  border-color: #0d47a1;
}
.Dragón {
  border-color: #aa321c;
}
.Siniestro {
  border-color: #29421f00;
}
.Hada {
  border-color: #318644b6;
}
.Ombra {
  border-color: #000000;
}
